.password-input {
    border-bottom: 6px solid;
}

.password-input-red {
    border-bottom: 6px solid #EA4335 !important;
}

.password-input-yellow {
    border-bottom: 6px solid #FBBC05 !important;
}

.password-input-blue {
    border-bottom: 6px solid #4285F4 !important;
}

.password-input-green {
    border-bottom: 6px solid #34A853 !important;
}
